body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0A043C;
}

.container {
    display: grid;
    Place-items: center;
    width: 100%;
    height: 100vh;

}

.container>.main {
    width: 100%;
    text-align: center;
}

.main>input {
    margin: 10px 0;
    width: 50%;
    border: 2px solid #BBBBBB;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    background: #BBBBBB
}

.main>button {
    padding: 10px;
    border-radius: 5px;
    background: #03506F;
    color: #fff;
    border: 0;
    margin: 0 0 10px;
    outline: none;
}

.main>input:hover {
    width: 60%;
    transition: 0.3s;
}

#download {
    display: none;
}
.btn:hover{
    cursor: pointer;
    background-color: green;
}